h1 {
  font-size: 48px;
  border-bottom: 1px solid black;
  font-family: Comic Sans MS, Ebrima;
  }

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.hero {
  background-image:
    url("http://media5.picsearch.com/is?nbFo525ULQLYga1r-rTd4i2MbSTU6hzK0CwR9hjywFA&height=213");
  background-size: cover;
  border: 1px solid #000;
  margin: 2px;
  padding: 30px;
}


 


